In [ ]:
%load_ext sql

In [ ]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu1900013063:stu1900013063@162.105.146.37:43306

In [ ]:
%sql use stu1900013063;

In [ ]:
%%sql

set @@foreign_key_checks=0;
# 1. 创建用户表。
CREATE TABLE user_tb (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    姓名 VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE
) ENGINE=InnoDB;

set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 2. 创建blog表

CREATE TABLE blog_tb (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    图片URL VARCHAR(255) NOT NULL,
    时间 DATETIME NOT NULL,
    文字内容 TEXT NOT NULL
) ENGINE=InnoDB;
set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 3. 评论表
CREATE TABLE comment_tb (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    时间 DATETIME NOT NULL,
    内容 TEXT NOT NULL
) ENGINE=InnoDB;

set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 4.
CREATE TABLE post_blog_table (
    用户ID INT NOT NULL,
    blogID INT NOT NULL UNIQUE, -- 确保一个博客只能被一个用户发布
    时间 DATETIME NOT NULL,
    PRIMARY KEY (用户ID, blogID),
    FOREIGN KEY (用户ID) REFERENCES user_tb(ID),
    FOREIGN KEY (blogID) REFERENCES blog_tb(ID)
) ENGINE=InnoDB;

set @@foreign_key_checks=1;

In [ ]:
%%sql

set @@foreign_key_checks=0;

# 5.
CREATE TABLE post_comments_table (
    用户ID INT NOT NULL,
    blogID INT NOT NULL,
    commentID INT NOT NULL UNIQUE, -- 确保一个评论只能属于一个用户
    PRIMARY KEY (用户ID, blogID, commentID),
    FOREIGN KEY (用户ID) REFERENCES user_tb(ID),
    FOREIGN KEY (blogID) REFERENCES blog_tb(ID),
    FOREIGN KEY (commentID) REFERENCES comment_tb(ID)
) ENGINE=InnoDB;

set @@foreign_key_checks=1;

In [ ]:
%%sql
-- 1. 插入用户数据
INSERT INTO user_tb (姓名, email) VALUES
('张三', 'zhangsan@example.com'),
('李四', 'lisi@example.com'),
('王五', 'wangwu@example.com');

-- 2. 插入博客数据
INSERT INTO blog_tb (图片URL, 时间, 文字内容) VALUES
('https://example.com/image1.jpg', '2024-01-01 10:00:00', '今天天气真好！'),
('https://example.com/image2.jpg', '2024-01-02 15:30:00', '分享一张美食照片~'),
('https://example.com/image3.jpg', '2024-01-03 20:15:00', '旅行中的风景照');

-- 3. 插入评论数据
INSERT INTO comment_tb (时间, 内容) VALUES
('2024-01-01 11:00:00', '拍得真棒！'),
('2024-01-02 16:00:00', '看起来好好吃！'),
('2024-01-03 21:00:00', '这是哪里？我也想去！'),
('2024-01-03 21:30:00', '构图很有感觉！');

-- 4. 关联用户和博客（发布关系）
INSERT INTO post_blog_table (用户ID, blogID, 时间) VALUES
(1, 1, '2024-01-01 10:00:00'), -- 张三发布第一篇博客
(2, 2, '2024-01-02 15:30:00'), -- 李四发布第二篇博客
(3, 3, '2024-01-03 20:15:00'); -- 王五发布第三篇博客

-- 5. 关联用户、博客和评论（评论关系）
INSERT INTO post_comments_table (用户ID, blogID, commentID) VALUES
(2, 1, 1), -- 李四评论张三的博客（评论ID=1）
(3, 2, 2), -- 王五评论李四的博客（评论ID=2）
(1, 3, 3), -- 张三评论王五的博客（评论ID=3）
(2, 3, 4); -- 李四评论王五的博客（评论ID=4）

### 业务功能实现

In [ ]:
db = pymysql.connect(host='162.105.146.37',user='stu1900013063', password='stu1900013063', port=43306,db="stu1900013063")
cursor = db.cursor()